body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.removeBtn {
    background-color: rgb(255, 0, 0);
}

.removeBtn, .toogleBtn {
    color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    width: 20px;
    height: 20px;
}

.bookContainer {
    padding: 20px;
}

.bookCard {
    padding-bottom: 10px;
}